[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/Zvendson/minhook.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/Zvendson/imgui.git
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/Zvendson/json.git
